td.n01{
    background-color: blue;
    color:white;
}
td.n10{
    background-color: blue;
    color:white;
}
td.n25{
    background-color: blue;
    color:white;
}
td.n42{
    background-color: blue;
    color:white;
}
td.n44{
    background-color: blue;
    color:white;
}
td.n47{
    background-color: blue;
    color:white;
}