body,table{
    background-color: black;
    color:white;
}
h1{
    text-align: center;
    font-family: sans-serif;
}
table,th,td{
    border: 1px solid white;
    font-family: sans-serif;
    font-style: bold;
}
td.n46{
    background-color: blue;
    color:white;
}
td.n32{
    background-color: blue;
    color:white;
}
td.n15{
    background-color: blue;
    color:white;
}
td.n12{
    background-color: blue;
    color:white;
}
td.n23{
    background-color: blue;
    color:white;
}
td.n33{
    background-color: blue;
    color:white;
}
