body,table{
    background-color: black;
    color:white;
}
h1{
    text-align: center;
    font-family: sans-serif;
}
table,th,td{
    border: 1px solid white;
    font-family: sans-serif;
    font-style: bold;
}
td.n00{
    background-color: blue;
    color:white;
}
td.n00{
    background-color: blue;
    color:white;
}
td.n00{
    background-color: blue;
    color:white;
}
td.n00{
    background-color: blue;
    color:white;
}
td.n00{
    background-color: blue;
    color:white;
}
td.n00{
    background-color: blue;
    color:white;
}